h1 {
    color: darkgreen;
    display: flex;
    justify-content: center;
    font-size: 60px;
    position: relative;
    top: 17vw
}

body {
    background-color: #B1C8D4;
    margin: 10px;
    border: 10px solid transparent;
    padding: 10px;
}

header a:hover {
    text-decoration: underline;
}

header ul {
    float: right;
    margin: 0;
    padding: 0;
}



h2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

input,
button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: 2px solid darkgreen;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    top: 18vw
}

input {
    width: 500px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}



header li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

.popup-box {
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1000;
    margin-top: 5px;
}


.tool-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tool-links li {
    list-style: none;
    margin-bottom: 2px;
    padding: 0;
}


.tool-links a {
    display: block;
    text-decoration: none;
    color: #1a0dab;
    padding: 0;
}

.tool-links a:hover {
    text-decoration: underline;
    color: #0a0dab;
}

nav li {
    display: inline-block;
    position: relative;
}

#basic-tools-box .tool-links ul {
    display: block;
    width: 100%;
}

#basic-tools-box .tool-links li {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

h1 {
    font-size: 60px;
    color: darkgreen;
    display: flex;
    justify-content: center;
    position: relative;
    top: 17vw;
}

body {
    background-color: #B1C8D4;
    margin: 10px;
    padding: 10px;
}

nav ul {
    float: right;
    top: 3px;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 5vw;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.popup-box {
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1000;
    margin-top: 5px;
}

.color-choice {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    border: 1px solid #ddd;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#shortcutsList {
    position: relative;
    top: 21vw;
    left: 30vw;
    padding-top: 20px;
    cursor: pointer;

}

.circle {
    width: 50px;
    height: 50px;
    background-color: #8fa1b3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 20px auto;
    position: relative;
    top: 20vw
}



.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.basic-tools img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 40px;
    z-index: 10;
}

body {
    background-color: #B1C8D4;
    margin: 10px;
    padding: 10px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    text-decoration: underline;
}

.basic-tools img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.popup-box {
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1000;
    margin-top: 5px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #8fa1b3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 20px auto;
    position: relative;
    left: 10vw;
    top: 20vw;

}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#uploadCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}



#uploadCircle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}