h1 {
    color: darkgreen;
    font-size: 60px;
    position: absolute;
    top: 10px;
}

body {
    background-color: #B1C8D4;
    margin: 10px;
    border: 10px solid transparent;
    /* Ensure border is visible if that's the intent */
    padding: 10px;
}

header a:hover {
    text-decoration: underline;
}

header li {
    display: inline;
    margin-right: 5vw;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 30px;
    line-height: 80px;
}

h2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

input,
button {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: 2px solid darkgreen;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
}

input {
    width: 300px;
    font-size: 18px;
    /* Corrected duplicated font-size property */
}

button {
    left: 70%;
    background-color: white;
    width: 100px;
    font-family: inherit;
    /* Inherits font from the parent element */
    font-size: inherit;
    /* Inherits font size from the parent element */

}

.popup-box {
    width: fit-content;
    height: fit-content;
    /* Adjusted width for better fitting */
    background-color: #fff;
    /* White background for clarity */
    border: 1px solid #ccc;
    /* Subtle border */
    padding: 15px;
    /* Adequate padding for content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Soft shadow for 3D effect */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* Center the popup box */
    display: none;
    /* Initially hidden */
    z-index: 1000;
    /* Ensures it stays on top */
    margin-top: 5px;
    /* Add a little space above the box */
}

.tool-links ul {
    list-style-type: none;
    /* Removes bullet points */
    margin: 0;
    /* Removes default margin */
    padding: 0;
    /* Removes default padding */
}

.tool-links li {
    list-style: none;
    /* Removes bullet points from list items */
    margin-bottom: 2px;
    /* Reduces space between list items */
    padding: 0;
    /* Removes default padding */
}


.tool-links a {
    display: block;
    text-decoration: none;
    color: #1a0dab;
    padding: 0;
}

.tool-links a:hover {
    text-decoration: underline;
    color: #0a0dab;
}